<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auth</title>
    </nav>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
      }

      h1 {
        text-align: center;
        color: #333;
      }

      .banner {
        background-color: lightblue;
        text-align: center;
        font-size: 32px;
        padding: 20px;
        animation: pulse 0.5s infinite;
      }

      .banner h2 {
        color: white;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <h1>Auth API HOME PAGE</h1>
    <div class="banner">
      <h2>Welcome to Auth API</h2>
    </div>
  </body>
</html>
